.h-cambiar{
    color: blueviolet;
}
.h-otro{
    background-color: blue;
}
i{
    color: chartreuse;
}
#cursiva-especial{
    color: burlywood;
}
.segundotexto{
    color: wheat;
    background-color: black;
}
p{
    color: brown;
}